* {
  box-sizing: border-box;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --color-white: rgb(220, 218, 217);
  --color-background: rgb(16, 16, 16);
  --color-dark: rgb(23, 24, 24);
  --color-green: rgb(92, 223, 92);
}
body {
  font-family: "Ubuntu", sans-serif;
}
